<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>UID</th>
      <th>Original URL</th>
      <th>Redirect URL</th>
      <th>Domain Name</th>
      <th>Page Title</th>
      <th>HTTP Status</th>
    </tr>
  </thead>
  <tbody>
    {{- range $i, $link := .Links }}
    <tr>
      <td>{{ $i | addOne }}</td>
      <td><code>{{ $link.UID | sanitize | escape }}</code></td>
      <td>
        <a
          href="https://goo.gl/{{ $link.UID | sanitize | escape }}"
          target="_blank"
          rel="noopener noreferrer"
          >https://goo.gl/{{ $link.UID | sanitize | escape }}</a
        >
      </td>
      <td>
        <a
          href="{{ $link.RedirectURL | sanitize | escape }}"
          target="_blank"
          rel="noopener noreferrer"
          >{{ $link.RedirectURL | sanitize | escape }}</a
        >
      </td>
      <td><code>{{ $link.DomainName | sanitize | escape }}</code></td>
      <td>
        <code
          >{{ if $link.PageTitle }}{{ $link.PageTitle | sanitize | escape }}{{
          end }}</code
        >
      </td>
      <td><code>{{ $link.HTTPStatus }}</code></td>
    </tr>
    {{- end }}
  </tbody>
</table>
